<div #customer_search_outer class="container-fluid bgcolor " >
<div #customer_search_cover></div>
<div >
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
<div class="row">
    <div class="col-sm-3">
        <input class ="form-control" type="text" id="email" formControlName="email" placeholder="(stukje) email">
    </div>
    <div class="col-sm-3">
        <input class ="form-control" type="name" id="name" formControlName="name" placeholder="(stukje) naam">
    </div>
  <div class="col-sm-6">
    <div class="container">
      <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-primary" type="submit" [disabled]="!reactiveForm.valid">
            Zoek
        </button>
      </div>
      <div class="col-2"></div>
      <div class="col-7 justify-content-end d-flex">
        <button class="btn btn-outline-primary" type="button" (click)="onNewCustomer()">
            Nieuwe klant
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
</div>