<div class="container-fluid bgcolor " >
<h2 *ngIf="editMode else insertMode">
    Bewerken gegevens
</h2>
<ng-template #insertMode>
  <h2>Invoeren nieuwe klant</h2>
</ng-template>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" *ngIf="dataAvailable">
    <div class="row">
        <div class="col-md-5">
          <div class="form-group">
              <input class ="form-control" type="text" id="name" formControlName="name" placeholder="naam">
            </div>
            <div class="form-group">
                <input class ="form-control" type="text" id="address" formControlName="address" placeholder="address">
            </div>
            <div class="form-group">
                <input class ="form-control" type="text" id="email" formControlName="email" placeholder="email">
            </div>
            <div class="form-group">
                <input class ="form-control" type="text" id="phone" formControlName="phone" placeholder="telefoonnr">
            </div>
            <div class="form-group">
              <input class ="form-control" type="text" id="country" formControlName="country" placeholder="country">
            </div>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-primary" type="submit" [disabled]="!reactiveForm.valid">
                  {{'Opslaan'}}
              </button>
              <button class="btn btn-outline-danger" type="button" (click)="onCancel()">
                  Stop
              </button>
              <span style="width:30px"></span>
              <button 
              class="btn btn-outline-danger" 
              type="button" 
              (click)="onDelete()"
              *ngIf="editMode">
                  Verwijder
              </button>                 
            </div>
        </div>
</form>
</div>