<h2 *ngIf="editMode else insertMode">
    Bewerken gegevens
</h2>
<ng-template #insertMode>
  <h2>Invoeren nieuwe klant</h2>
</ng-template>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-5">
          <div class="form-group">
              <input class ="form-control" type="text" id="name" formControlName="name" placeholder="naam">
            </div>
            <div class="form-group">
                <input class ="form-control" type="text" id="address" formControlName="address" placeholder="address">
              </div>
              <div class="form-group">
                  <input class ="form-control" type="text" id="email" formControlName="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class ="form-control" type="text" id="iban" formControlName="iban" placeholder="iban">
                  </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!reactiveForm.valid">
                        {{'Opslaan'}}
                    </button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">
                        Stop
                    </button>
                    <span style="width:30px"></span>
                    <button 
                    class="btn btn-danger" 
                    type="button" 
                    (click)="onDelete()"
                    *ngIf="editMode">
                        Verwijder
                    </button>                 
                </div>
        </div>
</form>