<form 
    [formGroup]="reactiveForm" 
    (ngSubmit)="onSubmit()" 
    class="form-inline"
    >
    <!-- <div class="row"> -->
        <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-append col-2">
               <input 
                    class ="form-control-sm" 
                    type="text" 
                    name="arrive" 
                    id="arrive" 
                    formControlName="arrive" 
                    placeholder="aankomst"
                    >
              </div>
               <div class="input-group-append col-2">
              <input 
                    class ="form-control-sm" 
                    type="text" 
                    formControlName="depart" 
                    placeholder="vertrek"
               >
              </div>
 

              <div class="input-group-append col-1">
                <span>
                  <i class="fa fa-calendar " aria-hidden="true" style="font-size:2em;display:inline-block" (click)="openModalCalendar()"></i>
                </span>

                   <!-- <button class="btn btn-outline-primary calendar" (click)="openModalCalendar()" type="button"></button> -->
              </div>
              <div class="input-group-append col-2">
                   <input 
                    class ="form-control-sm" 
                    id="nrpers"
                    type="text" 
                    formControlName="nrpers" 
                    placeholder="#personen"
               >
              </div>
              <select class ="form-control input-group-append col-2" formControlName="propcode">
                    <option disabled selected value>--</option>
                    <option *ngFor="let pcode of propCodes">{{pcode}}</option>
                </select> 
                <select class ="form-control input-group-append col-2" formControlName="booktype">
                  <option disabled selected value>--</option>
                  <option *ngFor="let btype of bookTypes">{{btype}}</option>
                </select>
                <button class="btn btn-sm btn-primary form-control" type="submit" [disabled]="!reactiveForm.valid">
                    Voeg toe
                </button>
             </div>
        </div>
</form>
<p class="text-info pad">Boekingen van {{customer.name}}</p>

<!-- list existing bookings here, + delete button -->
<div class="container">
<div class="row border highlight vcenter" *ngFor="let booking of customer.bookings; let idx=index">
<div class="col-md-2">{{booking.arrive | date:globDateformat()}}</div>
<div class="col-md-2">{{booking.depart | date:globDateformat()}}</div>
<div class="col-md-1">{{booking.nrpers }}</div>
<div class="col-md-1">{{booking.propcode }}</div>
<div class="col-md-2">{{booking.booktype }}</div>
<div class="col-md-2 text-align-middle">
    <button style="margin-right:3px" class="btn btn-sm btn-outline-success" (click)='onWord(idx)'>Word</button>
</div>
<div class="col-md-1 text-align-middle">
    <button class="btn btn-sm btn-outline-danger" (click)='onDelete(idx)'>X</button>
</div>
</div>
</div>
