<form 
    [formGroup]="reactiveForm" 
    (ngSubmit)="onSubmit()" 
    class="form-inline"
    >
    <!-- <div class="row"> -->
        <div class="col-md-12">
            <div class="input-group">
                <input 
                    class ="form-control-sm col-2" 
                    type="text" 
                    name="arrive" 
                    id="arrive" 
                    formControlName="arrive" 
                    placeholder="aankomst"
                    >
               <input 
                    class ="form-control-sm col-2 input-group-append" 
                    type="text" 
                    formControlName="depart" 
                    placeholder="vertrek"
               >
 

                      <div class="input-group-append">
                   <button class="btn btn-outline-secondary calendar" (click)="openModalCalendar()" type="button"></button>
              </div>
              <select class ="form-control input-group-append" formControlName="propcode">
                    <option disabled selected value>--</option>
                    <option *ngFor="let pcode of propCodes">{{pcode}}</option>
                </select> 
                <select class ="form-control input-group-append" formControlName="booktype">
                        <option disabled selected value>--</option>
                        <option *ngFor="let btype of bookTypes">{{btype}}</option>
                    </select>
                    <button class="btn btn-sm btn-primary form-control" type="submit" [disabled]="!reactiveForm.valid">
                            Voeg toe
                        </button>
             </div>
        </div>
</form>
<p class="text-info pad">Boekingen van {{customer.name}}</p>

<!-- list existing bookings here, + delete button -->
<div class="container">
<div class="row border vcenter" *ngFor="let booking of customer.bookings; let idx=index">
<div class="col-md-3  ">{{booking.arrive | date:'E, dd MMM yy'}}</div>
<div class="col-md-3">{{booking.depart | date:'E, dd MMM yy'}}</div>
<div class="col-md-2">{{booking.propcode }}</div>
<div class="col-md-2">{{booking.booktype }}</div>
<div class="col-md-2"><button class="btn btn-sm btn-outline-danger" (click)='onDelete(idx)'>Verwijder</button></div>
</div>
</div>
